
<nav id="tabs-bar"
     class="flex overflow-x-auto bg-bg1 border-b border-border1 px-6
            [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
  <!-- Tabs renderizadas desde JS en index.astro -->
</nav>